* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
   
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: black;
    
}
li{
    list-style-type: none;
}
#header {
    background-color: white;
    padding: 0 248px;
    height: 30px;

}

#header .icon-header li {
    background-color: white;
    display: inline-block;

}

#header .icon-header {
    float: left;
}

.header1 {
    transform: translateX(-50px);
    float: right;
}

.header1 i {
    padding-right: 5px;
    font-weight: 800;
}

.header1 li {
    height: 24px;
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    font-size: 12px;


}

#sub-header {
    height: 50px;
    background-image: linear-gradient(to left, #9f041b, #e32);
    padding: 0 248px;
    position: relative;
}

#sub-header img {
    width: 99px;
    height: 29px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 246px;


}

.header2 {
    color: white;

}

.seconheader-list {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 300px;
    display: inline-block;

}

.seconheader-list li:hover {
    cursor: pointer;
}

.seconheader-list li {

    transform: translateY(4px);
    font-size: 10px;
    padding: 0 10px;
    padding: bottom 0px;
    
    display: inline-block;
    font-weight: 500;


}

.seconheader-list box {

    background-color: white;
    float: right;
    height: 28px;
    width: 230px;
    color: grey;
    float: right;
    line-height: 20px;
    padding-left: 10px;
    font-size: 12px;
}

.seconheader-list .ti-search {
    line-height: 20px;
    float: right;
    padding-right: 5px;
}

.seconheader-list pre {
    transform: translateY(15%);
    font-family: Arial, Helvetica, sans-serif;
}

#slider>a>img {
    margin: 10px 248px 5px 248px;
    border: 1px solid black;
    width: 1040px;
    height: 175px;
    position: relative;
}
#type{
    
    position: sticky;
    top: 0;
    margin: 0 248px;
    width: 1040px;
    height:23px;
    text-align: center;
    background-color: white;
    z-index: 7;
    border-bottom: 2px solid red;
    display: inline-block;
}
.types li{
    color: black;
    padding: 0 3.5px;
    display: inline-block;
    font-size: 9.999999px;
    font-weight: 750;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#type-emotion{
   
}
.type-emotions{
    margin-top: 200px;
    z-index: 2;
    float: left;
    
}

.type-emotions li{
    width: 35px;
    height: 35px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin-top:5px ;
}
.type-emotions li:hover{
    border-color: red;
color: red;
cursor: pointer;
}
.type-emotions p{
    text-align: center;
    transform: translateY(-20%);
}
#sub-type{
    margin: 5px 248px;
    width: 1040px;
    height:35px;
    border-bottom: 0.3px solid rgb(211, 211, 211);
    
}
.sub-types li{
    line-height: 100%;
    transform: translateY(70%);
    font-size: 11px;
    display: inline-block;
    font-weight: 720;
    padding: 0 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}  

.sub-types p{
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    line-height: 100%;
    transform: translateY(50%);
}
#hot-new{
    margin: 5px 248px;
    width: 1040px;
    height:40px;
    border-bottom: 3px double rgb(211, 211, 211);
}
.hot-news i{
    padding: 0 5px;
}
.hot-news li{
    line-height: 20px;
    transform: translateY(4%);

    padding: 0 7px;
    background-color:  rgb(238, 238, 238);
    display: inline-block;
    border: 3px solid rgb(238, 238, 238);
    font-size: 12px;
}
#content{
    
    padding-left: 248px;
    padding-right: 159px;
    width: 1040px;
    float: left;
   position: relative;
   z-index: 2;
   height: 2500px;
}
.contents {  
    font-size:16px ;
    margin-top: 5px;
    margin-left: 50px;
    font: normal 16px;
    font-weight: bold;
    justify-content : center/space-around;
    line-height: 22px;
    margin-bottom: 12px;
    letter-spacing: 0.2px;
 

}
#content .title{
    justify-content : center/space-around;
    letter-spacing:1.2px;
    margin-bottom: 10px;
    color: red;
}
#content .sub-title{
    width: 584px; 
    height: 100px;
    text-align: left;
    background-color:  rgb(238, 238, 238) ;
    margin-left: 50px;
    margin-bottom: 20px;
    padding-top: 5px;
border: 5px solid  rgb(238, 238, 238);

}
#content .sub-title li{
 font-size: 12px;
 font-weight: 750;
margin-left: 30px;

    list-style-type:square ;
    
}
.sub-contents{
    font-size: 18px;
    margin-left: 50px;
    justify-content : center/space-around;
    letter-spacing:1.2px;
}
.advertisement .sp1{
    display: inline-block;
    position: absolute;
    z-index: 6;
    left: 900px;
}
.footer-buttion{
    margin-left: 50px;

}
.buttions li{

  
    display: inline-block;

}
.buttions li:hover{
    cursor: pointer;
}
.buttions .like{
    color: white;
    width: 120px;
    height: 31px;
    padding: 5px 10px 5px 5px;
    background-color: red;
    display: inline-block;

}
.buttions .fb{
    color: white;
    padding: 5px 20px 5px 5px;
    background-color:#306199;
    width: 121px;
    height: 31px;
    display: inline-block;
}
.buttions .tw{
    color: white;
    padding: 5px 20px 5px 5px;
    background-color:#4da0ff;
    width: 121px;
    height: 31px;
    display: inline-block;
}

.keyloger{
    margin-top: 10px;
    margin-left: 50px;
}
.keyloger p1{
    font-weight: 500;
    line-height: 16px;
    font-size: 16px;
    color: black;
}
.keyloger p{
    
    line-height: 2.0;
    font-size: 14px;
    color: grey;
}
.keyloger p:hover{
    cursor: pointer;
}
.comment-box{
    margin-top: 10px;
    margin-left: 50px;
    background-color: rgba(34,34,34,.05);
    height: 141px;
    width: 585px;
    position: relative;
}
.comment-writte span{
    margin-left: 20px;
   line-height:50px ;
   color: grey;
}
.comment-writte{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: auto;
    background-color: white;
    box-shadow: inset 0 1px 3px 0 rgb(0 0 0 / 19%);
    border: solid 1px #c89490;
    height: 80px;
    width: 552px;
   position: absolute;

}
.sent-comment{
    font-size: 14px;

    position: absolute;
    line-height: 25px;
    transform: translate(10px, 105px);
    color: white;
    width: 120px;
    height: 31px;
    padding: 5px 10px 5px 5px;
    background-color: red;
    display: inline-block;
    text-align: center;
}

.comment-view{
    margin-top: 10px;
    margin-left: 50px;
    background-color: rgba(34,34,34,.05);
    height: 110px;
    width: 585px;
    position: relative;
}
.comment-view p{
    text-align: center;
    line-height: 585px;
    transform: translateY(-240px);
}
.back-to-top a{
    float:right;    
    transform: translateX(190px);
    width: 40px;
    height: 40px;
    background-color: rgb(218, 216, 216);
    line-height: 40px;
    font-weight: 1000;
    
}
.pop-up{
    position: absolute;
 
    margin-top: 45%;
float: right;
top:90%;
left: 85%;

/* transform: translate(220%, 25px); */

}
.close{
    width: 20px;

    position: absolute;
    background-color: rgb(210, 210, 210);
    cursor: pointer;
}
